<h2>Edit Profile</h2>

<form method="POST" action="/profile/update">
    <div>
        <label>Name: </label>
        <input type="text" name="name" value="<%= user.name %>" >
    </div>
    <div>
        <label>Email: </label>
        <input type="text" name="phone" value="<%= user.email %>" readonly>
    </div>
    <div>
        <label>Google Avatar: </label>
        <img src="<%= user.avatar %>">
    </div>
    <div>
        <label>Profile Picture:</label>
        <img src="<%= user.profileImage %>">
        <input type="file" id="profileImage" name="profileImage">
    </div>
    <br>
    <input type="hidden" name="id" value="<%= user._id %>">
    <button type="submit">Update Information</button>
</form>