<h2><%= location.name %></h2>
<div>
  capacity: <%= location.capacity %>
</div>

<div>
  availability: <%= location.availability %>
</div>

<div>
  city: <%= location.city %>
</div>

<div>E-mail: <%= location.bookingEmail %></div>

<div>
  phone number: <%= location.bookingPhone %>
</div>

<div>indoor: <%= location.indoor %></div>