<h1> Edit <%= location.names %> 's details </h1>

<form action="/location/edit" method="post">
  <div>
    <label class="form-label">Name</label>
    <input class="form-control" type="text" name="names" value="<%= location.names %>" style="width: 50vw;">
  </div>
<br>

  <div>
    <label class="form-label">Capacity</label>
    <input class="form-control" type="number" name="capacity" value="<%= location.capacity %>" style="width: 50vw;">
  </div>
  <br>

  <div>
    <label class="form-label"> Availability</label>
    <select name="availability" class="form-select" style="width: 50vw;">
      <% if (location.availability === true) { %>
      <option value="available" >available</option>
      <option value="not available">not available</option>
      <% } else { %>
        <option value="not available">not available</option>
        <option value="available" >available</option>
      <% } %>

    </select>
    
  </div>
<br>

  <div>
    <label class="form-label">City</label>
    <input class="form-control" type="text" name="city" value="<%= location.city %>" style="width: 50vw;">
  </div>
  <br>

  <div>
    <label class="form-label">Email</label>
    <input class="form-control" type="email" name="bookingEmail" value="<%= location.bookingEmail %>" style="width: 50vw;">
  </div>
  <br>

  <div>
    <label class="form-label">Phone number</label>
    <input class="form-control" type="tel" name="bookingPhone" value="<%= location.bookingPhone %>" style="width: 50vw;">
  </div>
 <br>

  <div>
    <label class="form-label">Indoor</label>
    <select name="indoor"  class="form-select" style="width: 50vw;" value="<%= location.indoor %>">
      <% if (location.indoor === true) { %>
        <option value="indoor" >indoor</option>
        <option value="outdoor">outdoor</option>
        <% } else { %>
          <option value="outdoor">outdoor</option>
          <option value="indoor" >indoor</option>
        <% } %>
    </select>
  </div>

  <br>
  <input type="hidden" name="id" value="<%= location._id %>"/>

  <button type="submit" class="btn btn-success">update location</button>
</form>