<h1>Locations</h1>
<table class="table table-hover">
  <thead class="table-light">
  <tr>
    <th>Name</th>
    <th>Capacity</th>
    <th>Availability</th>
    <th>City</th>
    <th>Booking Email</th>
    <th>Phone Number</th>
    <th>Indoor</th>
    <% if (user) { %>
    <th>Edit</th>
    <th>Delete</th>
    <% } %>
  </tr>
</thead>


<tbody class="table-group-divider">
  <% location.forEach(function(location){ %>
  <tr>
    <td>
      <a href="/location/detail?id=<%=location._id%>"><%= location.names %></a>
    </td>
    <td><%= location.capacity %></td>
    <td><%= location.availability %></td>
    <td><%= location.city %></td>
    <td><%= location.bookingEmail %></td>
    <td><%= location.bookingPhone %></td>
    <td><%= location.indoor %></td>
    <% if (user) { %>
    <td><a href="/location/edit?id=<%= location._id %>" class="btn btn-outline-secondary">Edit</a></td>
    <td><a href="/location/delete?id=<%= location._id %>" class="btn btn-outline-danger">Delete</a></td>
    <% } %>
  </tr>
  <%})%>
</tbody>
</table>
