<h1>Categories</h1>
<br>
<table class="table table-hover">
    <thead class="table-light">
    <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Updated At</th>
        <% if (user) { %>
        <th>Edit</th>
        <th>Delete</th>
        <% } %>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <% categories.forEach(function(category) { %>
        <tr>
            <td>
                <a href="/category/detail?id=<%= category._id %>">

                    <!-- Display color circle next to the category name -->
                    <span class="my-category-circle" data-color="<%= category.color %>"></span>
                    <%= category.name %>
                </a> 
            </td>
            <td> <%= dayjs(category.createdAt).fromNow(true) %>  ago </td>
            <td> <%= dayjs(category.updatedAt).fromNow(true) %> ago </td>
            <% if(user) { %>
            <td>
                <a href="/category/edit?id=<%= category._id %>" class="btn btn-outline-secondary"> Edit </a>
            </td>
            <td>
                <input type="hidden" name="id" value="<%= category._id %>">
                <a href="/category/delete?id=<%= category._id %>" class="btn btn-outline-danger"> Delete </a>
            </td>
            <% } %>
        </tr>
    <% }) %>
    </tbody>
</table>

<!-- JavaScript to apply the background color -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Apply background color to each category circle based on the data-color attribute
        document.querySelectorAll('.my-category-circle').forEach(function(circle) {
            var color = circle.getAttribute('data-color');  // Get the color from the data attribute
            circle.style.backgroundColor = color;          // Apply the color as background
        });
    });
</script>

<!-- CSS to define the circle appearance -->
<style>
    .my-category-circle {
        display: inline-block;
        width: 15px;  /* Adjust the size */
        height: 15px; /* Adjust the size */
        border-radius: 50%;  /* Make it a circle */
        margin-right: 8px;   /* Space between the circle and category name */
    }
</style>