<h1> <%= event.name %> </h1>

<div>
    Date: <%= dayjs(event.date).format('DD/MM/YYYY') %>
</div>

<div>
    Time: <%= event.time %> 
</div>

<div>
    Description: <%= event.description %>
</div>

<div class="categories-container">
    Categories: 
    <% event.category.forEach(function(category) { %> <!-- event.category is now populated -->
        <div class="category-item">
            <span class="my-category-circle" data-color="<%= category.color %>"></span>
            <%= category.name %> /
        </div>
    <% }) %>
</div>
<div>
    Status:
    <%= event.status %>
</div>
<div>
    Location: 
    <% event.location.forEach(function(location) { %> <!-- event.location is now populated -->
            <%= location.names %>
    <% }) %>
</div>

<div>
    Created At: <%= dayjs(event.createdAt).fromNow(true) %> ago
</div>

<div>
    Updated At: <%= dayjs(event.updatedAt).fromNow(true) %> ago
</div>