<h1> <%= event.name %>'s Event </h1>

<div>
    <label class="form-label">Date</label>
    <br>
    <input class="form-control" type="text" value="<%= dayjs(event.date).format('DD/MM/YYYY') %>" disabled readonly style="width: 50vw;">
</div>
<br>

<div>
    <label class="form-label">Time</label>
    <br>
    <input class="form-control" type="text" value="<%= event.time %> " disabled readonly style="width: 50vw;">
</div>
<br>

<div>
    <label class="form-label">Description</label>
    <br>
    <input class="form-control" type="text" value="<%= event.description %>" disabled readonly style="width: 50vw;">
</div>
<br>


<label class="form-label">Categories</label>
<div class="categories-container">
    <% event.category.forEach(function(category) { %> <!-- event.category is now populated -->
        <div class="category-item">
            <span class="my-category-circle" data-color="<%= category.color %>"></span>
            <%= category.name %> /
        </div>
    <% }) %>
</div>

<div>
    <label class="form-label">Status</label>
    <br>
    <input class="form-control" type="text" value="<%= event.status %>" disabled readonly style="width: 50vw;">
</div>
<br>
<div>
    <label class="form-label">Location</label>
    <br>
    <div>

        <% event.location.forEach(function(location) { %> <!-- event.location is now populated -->
                <%= location.names %>
        <% }) %>
    </div>
</div>
<br>
<hr>


    <h2>Add Comment</h2>
    
    <form method="POST" action="/event/comment">
        <div>
            <label class="form-label">Title</label>
            <input type="text" name="title" class="form-control" style="width: 50vw;">
        </div>
    <br>
    <div>
        <label class="form-label">Content</label>
        <input type="text" name="content" class="form-control" style="width: 50vw;">
    </div>
    <br>
    <input type="hidden" name="event" value="<%= event.name %>">
    <input type="hidden" name="eventId" value="<%= event._id %>">
    <input type="hidden" name="userName" value="<%= user.name %>">

    <input type="hidden" name="id" value="<%= user._id %>">
    <button type="submit" class="btn btn-success">add comment</button>
</form>
<hr>

<h2>Comment Section</h2>

<% feedbacks.forEach(function(feedback) { %>
    <div class="comment-item">
        <div class="comment-header">
            <!-- Display the user image -->
            <img src="/uploads/<%= user.profileImage %>" alt="Profile Image" class="profile-img" style="width: 50px; height: 50px; border-radius: 50%;">

            <!-- Display the user name -->
            <span class="user-name"><%= feedback.userName %></span>
        </div>

        <!-- Display the comment content -->
        <div class="comment-content">
            comment: <%= feedback.content %>
        </div>

        <!-- Delete comment link -->
        <div>
            <a href="/event/comment/delete?id=<%= feedback._id %>&eventId=<%= event._id %>" class="btn btn-outline-danger">Delete</a>
        </div>

        <!-- Add a horizontal line between comments -->
        <hr>
    </div>
<% }) %>