<h1> <%= event.name %>'s Event </h1>

<div>
    <label class="form-label">Date</label>
    <br>
    <input class="form-control" type="text" value="<%= dayjs(event.date).format('DD/MM/YYYY') %>" disabled readonly style="width: 50vw;">
</div>
<br>

<div>
    <label class="form-label">Time</label>
    <br>
    <input class="form-control" type="text" value="<%= event.time %> " disabled readonly style="width: 50vw;">
</div>
<br>

<div>
    <label class="form-label">Description</label>
    <br>
    <input class="form-control" type="text" value="<%= event.description %>" disabled readonly style="width: 50vw;">
</div>
<br>


<label class="form-label">Categories</label>
<div class="categories-container">
    <% event.category.forEach(function(category) { %> <!-- event.category is now populated -->
        <div class="category-item">
            <span class="my-category-circle" data-color="<%= category.color %>"></span>
            <input class="form-control" type="text" value="<%= category.name %>" disabled readonly style="width: 50vw; color: white; background-color: <%= category.color %>;">
        </div>
    <% }) %>
</div>
<br>
<div>
    <label class="form-label">Status</label>
    <br>
    <input class="form-control" type="text" value="<%= event.status %>" disabled readonly style="width: 50vw;">
</div>
<br>
<div>
    <label class="form-label">Location</label>
    <br>
    <div>

        <% event.location.forEach(function(location) { %> <!-- event.location is now populated -->
            <input class="form-control" type="text" value="<%= location.names %>" disabled readonly style="width: 50vw;">         
        <% }) %>
    </div>
</div>
<br>
<hr>

    <%if (user) { %>
    <h2>Add Comment</h2>
    
    <form method="POST" action="/event/comment">
        <div class="comment-sec">
        <input type="hidden" name="title" class="form-control" style="width: 50vw;" value="comment">
        <textarea type="text" name="content" class="form-control" style="width: 50vw;"  rows="2" id="exampleFormControlTextarea1"></textarea>
        <button type="submit" class="btn btn-success btn-com">
            <i class="bi bi-send"></i>
        </button>
    
    </div>
    <br>
    
    <input type="hidden" name="event" value="<%= event.name %>">
    <input type="hidden" name="eventId" value="<%= event._id %>">
    <input type="hidden" name="userName" value="<%= user.name %>">
    <input type="hidden" name="id" value="<%= user._id %>">
    
</form>
<hr>
<% } %>
<h2>Comment Section</h2>
<div class="comment-list">
<% if (feedbacks.length > 0) { %>
<% feedbacks.forEach(function(feedback) { %>
    <div class="comment-item">
        <div class="comment-header">
            <!-- Display the user image -->
            <img src="/uploads/<%= user.profileImage %>" alt="Profile Image" class="profile-img" style="width: 50px; height: 50px; border-radius: 50%;">

            <!-- Display the user name -->
            <span class="user-name"><%= feedback.userName %></span>
        </div>

        <!-- Display the comment content -->
        <div class="comment-content">
            <p><i class="bi bi-arrow-right-short"></i><%= feedback.content %></p>
       

        <!-- Delete comment link -->
       
            <a href="/event/comment/delete?id=<%= feedback._id %>&eventId=<%= event._id %>" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
            </a>
        </div>

        <!-- Add a horizontal line between comments -->
        <hr>
    </div>
<% }) %>
<% } else { %>
    <p>No comments found.</p>
    <% } %>
</div>