<h1> Edit Event </h1>

<form method="POST" action="/event/update">
    <div>
        <label class="form-label">Event Name</label>
        <br>
        <input type="text" name="name" required class="form-control" value="<%= event.name %>">
    </div>
    <br>

    <div>
        <label class="form-label">Event Date</label>
        <br>
        <input type="date" name="date" required class="form-control" value="<%= event.date.toISOString().slice(0, 10) %>">
    </div>
    <br>

    <div>
        <label class="form-label">Event Time</label>
        <br>
        <input type="time" name="time" required class="form-control" value="<%= event.time %>">
    </div>
    <br>

    <div>
      <label class="form-label">Event Description</label>
      <br>
        <input class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" value="<%= event.description %>"/>
    </div>
    <br> 

    <label class="form-label">Categories</label>
    <select name="category[]" class="form-select" multiple>
          <% categories.forEach(function(category) { %>
          <option value="<%= category._id %>">
            <span class="my-category-circle" data-color="<%= category.color %>"></span>
            <%= category.name %>
          </option>
          <% }) %>
        </select>
      <br>

      <div>
        <label class="form-label">Location</label>
        <select name="location" class="form-select">
          <% locations.forEach(function(location) { %>
            <option value="<%= location._id %>"><%= location.names %></option>
            <% }) %>
        </select>
      </div>
      <br>

      <div>
        <label class="form-label">Status</label>
        <select name="status" class="form-select">
          <option value="upcoming"> Upcoming </option>
          <option value="ongoing"> Ongoing </option>
          <option value="completed"> Completed </option>
        </select>
      </div>
      <br>

<input type="hidden" name="id" value="<%= event._id %>">

<button type="submit" class="btn btn-success"> Update Event </button>

<table>
  <h1>Comment section</h1>



  <button><a href="/event/comment">add </a></button>
</table>


</form>